
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");


/*container grid menu , main , footer*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
h1{font-size: 3.5em; text-align: center;
  }
h2{font-size: 2.7em; text-align: center;
  }
h3{font-size: 2em; text-align: center;
  }
p{font-size: 1.25em; text-align: center;
  }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: right;
}


.navbar {
  grid-area: navbar;
  background-color: #afd6af;
}


.main {
  grid-area: main;
  background-color: #ffffff;
  color: white;
  font-family: Arial;
  background-image: url('fondo.jpg');
  background-size: cover;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar"  100px
    "main"    auto
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "navbar  navbar"
    "main"
    "footer  footer"; */

    grid-template:
      
      "navbar  navbar" 100px
      "main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      
      "navbar  main   " auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}


/*footer*/
.footer{
    position: relative;
    width: 100%;
    background: #286bcf;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu-elem{
    list-style: none;

}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
}

.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

/*Contacto*/

/* SECCION CONTACTO */
.contacto{
    
  
  color: #ffffff;
  padding: 25px 0;
  border: 2px solid black;
}
.contacto .contenido-seccion{
  max-width: 1100px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}
.contacto h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 10px ;
}

.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 2px solid black;
  color: #000000;
  font-size: 18px;
}
.contacto button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  z-index: 10;
}
.contacto button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay{
  width: 100%;
}
